In [2]:
import pandas as pd

In [22]:
full_list = pd.read_csv("Veterans_Full.csv")

In [23]:
full_list['Full Name'] = full_list['First Name'].str.title() + " " +full_list['Last Name'].str.title()

In [31]:
search_name = input("What last name would you like to search by? ").upper()
full_list.loc[full_list['Last Name'] == search_name]

What last name would you like to search by? Ulmschneider

         Last Name First Name    KIA      War               Full Name
1854  ULMSCHNEIDER      FRITZ  False      WW2      Fritz Ulmschneider
2152  ULMSCHNEIDER   ROBERT A  False  Vietnam   Robert A Ulmschneider