In [2]:
import pandas as pd

In [3]:
ww2 = pd.read_csv("WW2.csv")
korea = pd.read_csv("Korea.csv")

In [12]:
ww2['Full Name'] = ww2['First Name'].str.title() + " " +ww2['Last Name'].str.title()

In [19]:
ww2.loc[ww2['Last Name'] == "LAROCHE"]

    Last Name First Name    KIA  War          Full Name
606   LAROCHE   ANDREW P  False  WW2   Andrew P Laroche
607   LAROCHE   JOSEPH A  False  WW2   Joseph A Laroche
608   LAROCHE   JOSEPH W  False  WW2   Joseph W Laroche
609   LAROCHE      LEO A  False  WW2      Leo A Laroche