In [2]:
import pandas as pd
import numpy as np

In [5]:
firstSet = {'Last_Name': ['Silva','Wujick','Arruda','Alberti'], 'First_Name': ['John', 'Ed', 'Steve', 'Henry'],
                   'War': ['WW1','WW2','Korea','Vietnam']}
df1 = pd.DataFrame(firstSet,columns= ['Last_Name', 'First_Name', 'War'])

In [10]:
wardates = {'War': ['WW1', 'WW2', 'Korea', 'Vietnam', 'Persian Gulf', 'OEF/OIF'], 
             'Start Date': [1917, 1940, 1950, 1965, 1990, 2001], 'End Date': [1918, 1945, 1953, 1975, 1991, 2020]}

war_dates = pd.DataFrame(wardates, columns = ['War', 'Start Date', 'End Date'])

In [11]:
war_dates

            War  Start Date  End Date
0           WW1        1917      1918
1           WW2        1940      1945
2         Korea        1950      1953
3       Vietnam        1965      1975
4  Persian Gulf        1990      1991
5       OEF/OIF        2001      2020