In [1]:
import numpy as np
import pandas as pd

In [39]:
listname1 = input("Please select file to read: ")
list1 = pd.read_csv(listname1+".csv")

Please select file to read: vets_test

In [43]:
def remove_space(df):
    for i in df.index:
        if df.loc[i,'Last Name'][0] == " ":
            remove_space1 = df.loc[i,'Last Name'][1:]
            df.loc[i,'Last Name'] = remove_space1
            
        if df.loc[i,'First Name'][0] == " ":
            remove_space2 = df.loc[i,'First Name'][1:]
            df.loc[i,'First Name'] = remove_space2

    list1.to_csv(listname1+"_corrected.csv", index=False)
    print("Spaces removed. Changes written to file {}_corrected.csv.".format(listname1))

In [41]:
remove_space(list1)

Spaces removed. Changes written to file vets_test.csv.

In [42]:
list1

    Unnamed: 0  Last Name    First Name    KIA      War
0            0      ABBOT  CHARLES W JR  False      WW1
1            1   ACKERMAN        SAMUEL  False      WW1
2            2  AINSWORTH        HAROLD  False      WW1
3            3    ALLETAG        OTTO J  False      WW1
4            4    ALLETAG       RUDOLPH  False      WW1
..         ...        ...           ...    ...      ...
79          79      MASUD        GEORGE  False  Vietnam
80          80    MATRONE       RALPH J  False  Vietnam
81          81    MCCANNA    JAMES R JR  False  Vietnam
82          82   MACAULEY     WILLIAM T  False  Vietnam
83          83      MELLO         KEVIN  False  Vietnam

[84 rows x 5 columns]