In [2]:
import pandas as pd

In [22]:
df = pd.read_csv("WW2.csv")

In [31]:
df['Last Name'].str.title()

0       Abbruzzese
1       Abbruzzese
2       Abbruzzese
3         Abrahams
4           Abrain
           ...
1230         Zinni
1231         Zmuda
1232          Znoj
1233         Zorra
1234         Zorra
Name: Last Name, Length: 1235, dtype: object

     Last Name   First Name    KIA
0      ﻿AGUIAR    RAYMOND J  False
1      ALMEIDA     EDWARD J  False
2      ALMEIDA       DENNIS  False
3      ALMEIDA     ROBERT J  False
4        ALVES      DIAMOND  False
5       AMARAL   ANTONIO JR  False
6   ANNUNZIATA        LOUIS  False
7    ALYSWORTH  HARLOD M JR  False
8      BARRETT      CHARLES  False
9        BARRY       JOHN H  False
10       BARRY     ROBERT J  False
11    BARTLETT       RONALD  False
12    BEAULIEU     GIRARD N  False
13      BEDARD     DONALD D  False
14      BEDARD     EDMOND L  False